.newExpenseControls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

/* .newExpenseControl {
    width: 20rem;
    margin: auto;
} */
.newExpenseControl label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    color: #fff;
}

.newExpenseControl input {
    outline: none;
    font: inherit;
    padding: .5rem 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    max-width: 100%;
    width: 20rem;   
}

.newExpenseActions {
    text-align: right;
}

.newExpenseActions.danger{
    background-color: #943f3f;
}

